[Unit]
Description=JNA Wedding Instance
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker-compose -f /var/www/repos/jna-wedding/docker-compose.yml down
ExecStart=/usr/bin/docker-compose -f /var/www/repos/jna-wedding/docker-compose.yml up

[Install]
WantedBy=multi-user.target
