@import "variables";

.jna--form {
  margin-top: $spacing-medium;
}

.jna--form-field {
  margin: $spacing-smaller;

  label {
    width: 100%;
    margin: 0;
  }
}

.jna--form-group {
  overflow: hidden;
  max-height: 300px;
  transition: all linear $transition-medium;

  &.jna--hidden {
    max-height: 0;
  }
}

.jna--form-group-container {
  padding: $spacing-large;
  margin-top: $spacing-large;
  background: rgba($theme-global-lightest, $opacity-dull);
}

.jna--form-radio-field {
  .jna--form-radio-input {
    margin: 0 $spacing-small 0 0;
    position: relative;
    top: -1px;
  }
}

.jna--form-checkbox-field {
  .jna--form-checkbox-input {
    margin: 0 $spacing-small 0 0;
    position: relative;
    top: -1px;
  }
}

.jna--form-group-title,
.jna--form-field-title {
  display: block;
  font-weight: bold;
  margin-top: $spacing-medium;
  font-size: $scale-large;
}

.jna--form-group-title {
  font-size: $scale-larger;
}

.jna--form-multi-select {
  margin-top: $spacing-medium;
}

.jna--submit-btn {
  margin-top: $spacing-medium;
}


