@import "variables";

$theme-fun-fact-bubble-size: 20px;
$theme-fun-fact-bubble-width-open: 280px;
$theme-fun-fact-bubble-height-open: 110px;

#fun-facts {
  position: relative;
}

.jna--fun-facts {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  box-shadow: $theme-global-section-shadow;

  @include make-links($theme-global-primary-dark, $theme-global-primary);

}

.jna--fun-facts-item {
  position: absolute;
  overflow: hidden;
  width: $theme-fun-fact-bubble-size;
  height: $theme-fun-fact-bubble-size;
  border-radius: $sizing-large;
  margin-left: -$theme-fun-fact-bubble-size/2;
  margin-top: -$theme-fun-fact-bubble-size/2;
  cursor: pointer;
  color: $theme-global-lightest;
  background: rgba($theme-global-primary, $opacity-very);
  transition: all linear $transition-fast;
  box-shadow: 0 0 $sizing-large * 4 rgba($theme-global-lightest, $opacity-most);
  padding: $sizing-medium;
  border: $sizing-small solid rgba($theme-global-lightest, .5);

  &.jna--fun-facts-item-active,
  &:hover,
  &:active,
  &:focus {
    margin-top: -$theme-fun-fact-bubble-height-open/2;
    margin-left: -$theme-fun-fact-bubble-width-open/2;
    background: $theme-global-primary-dark;
    width: $theme-fun-fact-bubble-width-open;
    height: $theme-fun-fact-bubble-height-open;
    z-index: 800;
    transform: scale(1) !important;

    .jna--fun-facts-text {
      transition: all linear $transition-fast $transition-fast;
      opacity: 1;
    }
  }

  &.jna--fun-facts-item-active {
    z-index: 700;
  }


  .jna--fun-facts-text {
    transition: all linear 0 $transition-fast;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2rem;
    text-align: center;
    opacity: 0;
    width: $theme-fun-fact-bubble-width-open - ($sizing-medium * 2);
    height: $theme-fun-fact-bubble-height-open - ($sizing-medium * 2);
  }
}

@media (max-width: $screen-xs) {
  .jna--fun-facts-item {
    &.jna--fun-facts-item-active,
    &:hover,
    &:active,
    &:focus {
      left: 50% !important;
    }
  }
}