@import "variables";

$mobile-margin-top: 300px;
$sidebar-max-width: 250px;

.jna--intro {
  min-height: $min-section-height;
  text-align: center;
  color: $theme-global-lightest;
  background: url(assets/images/save-the-date.jpg) no-repeat fixed top center;
  background-size: cover;

  h1 {
    margin-top: 5rem;
  }
}

.jna--intro-container {
  margin-top: $mobile-margin-top;
  padding: $spacing-large;
  background: rgba($theme-global-lightest, $opacity-dull);
}

.jna--intro-days-remaining {
  text-transform: uppercase;
}

.jna--intro-event-when,
.jna--intro-event-where {
  span {
    display: block;
  }
}

.jna--intro-event-where,
.jna--intro-event-when,
.jna--intro-days-remaining {
  margin-bottom: $spacing-large;
}

@media (min-width: $screen-sm-min) {
  .jna--intro-days-remaining {
    font-size: $theme-heading-size-medium;
  }
}

@media (min-width: $screen-md-min) {
  .jna--intro-container {
    margin-top: $spacing-largest;
    margin-right: $spacing-large;
    max-width: $sidebar-max-width;
  }

  .jna--intro-days-remaining {
    font-size: $theme-heading-size-large;
  }
}

