@import "variables";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.jna--slideshow-container {
  min-height: $min-section-height;
  position: relative;

  .jna--slideshow-nav {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;

    .jna--slideshow-nav-item {
      display: inline-block;
      margin: $spacing-smaller;
      padding: $spacing-small;
      border-radius: 50%;
      cursor: pointer;
      transition: all linear $transition-medium;
      background: rgba($theme-global-primary-dark, $opacity-mostly);
      border: $sizing-small solid rgba($theme-global-lightest, $opacity-dull);

      &:hover {
        background: rgba($theme-global-primary, $opacity-mostly);
      }

      &.jna--slideshow-nav-item-active {
        background: rgba($theme-global-lightest, $opacity-mostly);
        border: $sizing-small solid rgba($theme-global-darkest, $opacity-dull);
      }
    }
  }
}

.jna--slideshow-slides {
  position: relative;
  min-height: $min-section-height;
  height: 100%;
}

.jna--slideshow-slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: $min-section-height;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jna--slideshow-slide-item-active {
  animation-name: fadeIn;
  z-index: 100;
  animation-duration: $transition-longest;
}
