@import "variables";

.jna--wedding {
  min-height: $min-section-height;
  color: $theme-global-darker;
  background: $theme-global-secondary url(assets/images/rsvp-background.png) fixed;
  box-shadow: $theme-global-section-shadow;
  padding: $spacing-larger $spacing-smallest;

  @include make-links($theme-global-secondary-darker, $theme-global-secondary);
}

.jna--wedding-sidebar,
.jna--question-form-container,
.jna--rsvp-form-container {
  margin-bottom: $spacing-large;
  padding: $spacing-smallest $spacing-medium;
}

.jna--wedding-sidebar-container {
  padding: $spacing-large;
  background: rgba($theme-global-lightest, $opacity-dull);

  text-align: center;

  span {
    display: block;
  }

  address {
    margin: 0;
  }
}

.jna--wedding-sidebar-where {
  margin-top: $spacing-large;
}
