@import "variables";

.jna--what-to-expect {
  color: $theme-global-darker;
  background: $theme-global-secondary url(assets/images/what-to-expect-background.png) fixed;
  box-shadow: $theme-global-section-shadow;
  padding: $spacing-larger $spacing-medium;

  @include make-links($theme-global-secondary-darker, $theme-global-secondary);
}

.jna--faq-question {
  margin-bottom: $spacing-large;
}

.jna--faq-question-title {
  cursor: pointer;
  text-indent: -1rem;
  margin-left: 2rem;

  .glyphicon {
    font-size: 1.2rem;
    position: relative;
    top: -$sizing-small;
    margin-right: $spacing-medium;
  }

  &:hover {
    color: $theme-global-secondary-dark;
  }
}

.jna--faq-question-answers {
  li {
    margin-top: $spacing-large;
  }
}

.jna--faq-question-answer {
  overflow: hidden;
  transition: all linear $transition-medium;
  max-height: 0;

  &.jna--faq-question-answer-open {
    max-height: 1000px;
  }
}
